#main {
   max-width: 410px;
   font-size: 20px;
}

#main input {
   max-width: 40px;
   border: 1px solid #7e807e;
   border-radius: 6px;
}

.product-row {
   display: flex;
   padding: 5px;
}

.product-description {
   min-width: 330px;
   text-align: end;
   margin-right: 10px;
}

.mensaje-error {
   padding: 10px;
   color: red;
   font-size: 18px;
}

.calcular-button {
   margin-top: 30px;
   padding: 10px;
   border: none;
   background-color: #19a553;
   font-size: 18px;
   color: white;
   border-radius: 6px;
   width: 100%;
   transition: .3s linear;
}

.calcular-button:hover {
   transform: rotateX(15deg);
   box-shadow: 0 15px 15px #19a553;
}

.calcular-button:active {
   vertical-align: top;
   padding: 0 15px 15px;
}

#precios {
   max-width: 410px;
   text-align: end;
   margin-right: 10px;
}