body {
      font-family: Arial, Helvetica, sans-serif
}

.hotel-header > h2 {
      text-align: center;
      padding: 20px;
}

.hotel-body {
      margin: auto;
      max-width: 90%;
}

.hotel-item {
      padding: 16px;
      border-radius: 3px;
      border: 1px solid #9c9c9c;
      display: flex;
      justify-content: space-between;
}

.hotel-name {
      max-width: 300px;
}

.hotel-name:hover {
      cursor: pointer;
      position: relative;
      left: 2px;
      color: darkcyan;
}

.hotel-name > span {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 24px;
}

.hotel-description {
      max-width: 300px;
}

.hotel-description:hover {
      cursor: pointer;
      position: relative;
      left: 2px;
      color: darkcyan;
}

.hotel-description > span {
      font-size: 20px;
      font-weight: 300;
}

.hotel-stars {
      cursor: pointer;
}

.hotel-telephone {
      max-width: 250px;
}

.hotel-telephone > h3 {
      font-size:  24px;
      margin: 0px;

}

.hotel-telephone h3:hover {
      position: relative;
      left: 2px;
      color: darkcyan;
      cursor: pointer;
}

.hotel-stars {
      max-width: 100px;
}

.hotel-stars:hover {
     color: goldenrod; 
}