
.title {
   padding-left: 23%;
}

input {
   border: 1px solid #9c9c9c;
   border-radius: 3px;
   padding: 15px 32px;
   text-align: center;
   display: inline-block;
   font-size: 16px; 
}

button {
   background-color: rgb(22, 172, 231);
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

button:hover {
   border: 2
   px solid grey;
   border-radius: 3px;
}